home/.config/fish/conf.d/99-local.fish
home/.config/fish/conf.d/bang-bang.fish
home/.config/fish/conf.d/done.fish
home/.config/fish/conf.d/fisher*.fish
home/.config/fish/conf.d/fzf.fish
home/.config/fish/conf.d/pisces.fish
home/.config/fish/completions/
home/.config/fish/functions/
home/.config/fish/fish_variables
