[core]
	pager = delta
	editor = nvim

[delta]
	side-by-side = true
	line-numbers = true
	navigate = true
	dark = true

[interactive]
	diffFilter = delta --color-only

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	lgr = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --reverse --
	new = checkout -b
	co = checkout
	upstream = push --set-upstream origin
	undo = reset --soft HEAD~
	s = status -s
	attach = commit --amend --no-edit
	trash = !git reset --hard HEAD && git clean -fd
	discard = restore .
	unstage = reset HEAD --
	d = diff
	ds = diff --staged
	reword = commit --amend
	aliases = config --get-regexp alias
	stsh = stash --include-untracked
	pop = stash pop

[push]
	autoSetupRemote = true

[init]
	defaultBranch = main

[user]
	email = hello@adelrodriguez.com
	name = Adel Rodríguez

[difftool "vscode"]
	cmd = c --wait --diff $LOCAL $REMOTE

[merge]
	conflictStyle = zdiff3
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/env gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/env gh auth git-credential
