[Unit]
Description=Process Compose scheduler
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment="PATH=/home/linuxbrew/.linuxbrew/bin:/opt/homebrew/bin:/usr/local/bin:%h/.local/bin:/usr/bin:/bin"
ExecStart=/usr/bin/env process-compose --port 10080 up --tui=false --keep-project --disable-dotenv --config %h/.config/process-compose/process-compose.yaml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
